<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/" lang="en" dir="ltr">

<head>
  <!-- General metadata *Common to all pages.-->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!--[if IE 11 ]>
    <meta name="msapplication-config" content="static/browserconfig.xml" />
    <![endif]-->

  <!-- Standard favicon -->
  <link rel="icon" type="image/x-icon" href="/static/img/icons/favicon.ico" />
  <link rel="icon" type="image/png" href="/static/img/icons/favicon.png" />

  <link rel="manifest" href="/static/manifest.webmanifest" />
  <!-- Title provided by page component over a Helmet HOC. -->
  {{TITLE}}
  {{SEO_CRITICAL_METADATA}}

  {{CRITICAL_CSS}}

  <!-- Social Media Metadata. [Facebook] -->
  <meta property="og:type" content="website" />
  <!-- Social Media Metadata [Twitter] -->

  <script type="text/javascript">
    Object.entries || document.write(
      '<script crossorigin="anonymous" src="https://polyfill.io/v3/polyfill.min.js?features=default,es2015,es2016,es2017"><\/script>'
    );
  </script>

  
</head>

<body>
  <div id="root">{{APP}}</div>

  {{REDUX_DATA}}

  {{LOADABLE_CHUNKS}}

  <!-- HTMLWebpackPlugin can not output the bundles from both builds so the scripts are injected here
        by WebpackModuleNomodulePlugin instead -->

</body>

</html>
