{{CRITICAL_CSS}}
<div id="root">{{APP}}</div>

<script type="text/javascript">
  Object.entries || document.write(
    '<script crossorigin="anonymous" src="https://polyfill.io/v3/polyfill.min.js?features=default,es2015,es2016,es2017"><\/script>'
  );
</script>



{{REDUX_DATA}}

{{LOADABLE_CHUNKS}}

<!-- HTMLWebpackPlugin can not output the bundles from both builds so the scripts are injected here
      by WebpackModuleNomodulePlugin instead -->
